body {
    background-color: darkgrey;
}
.wrapper{
    display: flex;
    padding: 0%;
}
#btnpanel {
    margin: 0 auto;
}
.contryBtn{
    width:80%; 
    height:65px;
    font-size: 12pt;
    font-weight: bold;
    text-shadow: 1px 1px 1px gray;
    color: salmon;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
#VLD{
    background-image: url("img/Vlad.jpg");
}
#NGK{
    background-image: url("img/Ngsk.png");
}
#IRK{
    background-image: url("img/Irkt.jpg");
}
#IST{
    background-image: url("img/Istb.jpeg");
}
#TBI{
    background-image: url("img/Taib.jpg");
}
.optionBtn{
    width:20%;
    height:20%;
}
#val{
    color:blue;
}
#optionPanel{
    position: relative;
    border:1px solid black;
    padding:4px; 
    width:90%; 
    height:50%; 
    margin:0 auto;
    display: block;
    clear: left;
}
#board{
    border:1px solid black; 
    padding:5px; 
    width:85%; 
    height:40%; 
    white-space: pre-line;
}
#headline{
    text-align:"middle";
    margin: 0 auto;
    display: inline-block;
}
p{
    margin: 0 auto;
    text-align:"middle";
}
#googleMap{
    float: none;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    width: 80%;
}
.buttonDiv{
    float: left;
    margin: 0 auto;
    border:1px solid black; 
    padding:5px;
    width:20%;
    height:90%;
    display: block;
}
@media (min-width: 1400px){
    .wrapper{
        display: flex;
        flex-direction: column;
        padding: 0%;
    }
    .contryBtn{
        width:15%; 
        height:65px;
        font-size: 12pt;
        font-weight: bold;
        text-shadow: 1px 1px 1px gray;
        color: salmon;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline;
    }
    #board{
        border:1px solid black; 
        padding:5px; 
        width:85%; 
        height:40%; 
        white-space: pre-line;
    }
    .buttonDiv{
        border:1px solid black; 
        padding:5px;
        width: 80%;
        height:90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1000px){
    .wrapper{
        display: flex;
        flex-direction: column;
        padding: 0%;
    }
    .contryBtn{
        width:15%; 
        height:65px;
        font-size: 12pt;
        font-weight: bold;
        text-shadow: 1px 1px 1px gray;
        color: salmon;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline;
    }
    #board{
        border:1px solid black; 
        padding:5px; 
        width:85%; 
        height:40%; 
        white-space: pre-line;
    }
    .buttonDiv{
        margin: 0 auto;
        border:1px solid black; 
        padding:5px;
        width: 80%;
        height:90%;
        display: block;
    }
}
