#body {
    background-color:yellowgreen;
    margin: 0 auto;
}
#btnpanel {
    margin: 0 auto;
}
.contryBtn{
    width:20%; 
    height:30%;
}
.optionBtn{
    width:20%;
    height:20%;
}
#val{
    color:blue;
}
#optionPanel{
    border:1px solid black;
    padding:4px; 
    width:90%; 
    height:50%; 
    margin:0 auto;
}
#board{
    border:1px solid black; 
    padding:5px; 
    width:85%; 
    height:40%; 
    white-space: pre-line;
}
h1{
    text-align:"middle";
}
p{
    margin: 0 auto;
    text-align:"middle";
}
iframe{
    border: 1px solid black;
    margin: 0 auto;
    display: block;
}
.buttonDiv{
    margin: 0 auto;
    border:1px solid black; 
    padding:5px;
    width:60%;
    height:30%;
    margin:0 auto;
}
